# Preparando ambiente

In [3]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
import pymysql
import datetime as dt
import mysql.connector
import os
from dotenv import load_dotenv

load_dotenv()

True

In [18]:
db_connection_str = os.getenv("db_connection_str")
db_connection_stg_aws = os.getenv("db_connection_stg_aws")
con = "mysql+pymysql://scooby:T3NGbGludHN0b25lcw==@bi-stg-rds-1.ccfste4n4b8n.us-east-1.rds.amazonaws.com/zurich"
host = os.getenv("host_staging_aws")
user = os.getenv("user")
password = os.getenv("password")
database = os.getenv("database")

db_connection = create_engine("mysql+pymysql://backoffice:a1f3Z9Ln1P3f@db-saks-prod.hellosaks.com")

# Puxando dados da base de PROD

In [8]:
clients = pd.read_sql("""
SELECT 
    cpf.cliente_pf_id client_id,
    cpf.cpf cpf,
    cpf.nome name,
    cpf.email email,
    cpf.celular phone,
    cpf.sexo gender,
    nascimento birthday,
    cpf.cidade city,
    cpf.uf state,
    cpf.profissao job,
    CASE
        WHEN servidorPublico = 0 THEN 'NAO'
        WHEN servidorPublico = 1 THEN 'SIM'
    END AS public_server,
    CASE
        WHEN (cpf.estadoCivil = 1) THEN 'Solteiro'
        WHEN (cpf.estadoCivil = 2) THEN 'Casado'
        WHEN (cpf.estadoCivil = 3) THEN 'Divorciado'
        WHEN (cpf.estadoCivil = 4) THEN 'Viuvo'
        ELSE 'Outros'
    END AS marital_status,
    faixaRenda salary,
    SUM(pp.valorUltimoSaldo) last_balance,
    cpf.hash,
    cpf.created
FROM
    eqi_seguradoras.clientes_pf cpf
        LEFT JOIN
    bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON pp.clientePfId = cpf.cliente_pf_id
        LEFT JOIN
    eqi_seguradoras.assessores ass ON cpf.hash = ass.hash
        LEFT JOIN
    eqi_seguradoras.equipes eq ON ass.equipeId = eq.equipeId
WHERE
    pp.valorUltimoSaldo > 0
GROUP BY cpf.cliente_pf_id;
""", con=db_connection)

In [9]:
charges = pd.read_sql("""
SELECT
A.*,
B.first_payment_date
FROM(
	SELECT 
		endossoId charge_id,
		cd_proposta proposal_code,
		pago paid,
		mes as month,
		ano as year,
		valor as value,
		data_vencimento due_date,
		data_pagamento payment_date,
		tipo_endosso charge_type
	FROM
		eqi_seguradoras.clientes_pf cpf
			LEFT JOIN
		eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
			LEFT JOIN
		eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
			LEFT JOIN
		bd_zurich.endossos endo ON p.cdProposta = endo.cd_proposta
	WHERE
		endossoId IS NOT NULL
) A LEFT JOIN 
(
	SELECT 
		cd_proposta proposal_code,
		MIN(data_pagamento) first_payment_date
	FROM
		eqi_seguradoras.clientes_pf cpf
			LEFT JOIN
		eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
			LEFT JOIN
		eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
			LEFT JOIN
		bd_zurich.endossos endo ON p.cdProposta = endo.cd_proposta
	WHERE
		endossoId IS NOT NULL
	GROUP BY cd_proposta
) B ON A.proposal_code = B.proposal_code
""", con=db_connection)

In [10]:
proposals = pd.read_sql("""
SELECT 
    X.*,
    COALESCE(Y.first_payment_proposal_date, '00-00-00 00:00:00') first_payment_proposal_date
FROM
    (SELECT 
			cpf.cpf cpf,
            proposta_id proposal_id,
            cp.clientes_pf_id client_id,
            cdProposta proposal_code,
            cp.status,
            COALESCE(cp.data_assinatura, '00-00-00 00:00:00') signature_date,
            CASE
                WHEN (p.tipoPagamento = 5) THEN 'Debito'
                WHEN (p.tipoPagamento = 1) THEN 'Boleto'
            END payment_type,
            p.codProduto product_code,
            p.codPlano plan_code,
            fz.nomeFundoComercial investment_fund_name,
            CASE
                WHEN p.codProduto = 70 THEN 'PARCERIA ZURICH PGBL'
                WHEN p.codProduto = 71 THEN 'PARCERIA ZURICH VGBL'
            END AS plan_type,
            CASE
                WHEN (p.regimeTributario = 1) THEN 'Regressivo'
                WHEN (p.regimeTributario = 2) THEN 'Progressivo'
            END AS tax_regime,
            p.valorContribuicao monthly_contribuition,
            p.valorAporte initial_payment,
            a.assessorId owner_id,
            a.equipeId team_id,
            p.created proposal_created_date,
            COALESCE(pp.diaVencimento, 0) proposal_due_date
    FROM
        eqi_seguradoras.clientes_pf cpf
    LEFT JOIN eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
    LEFT JOIN eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
    LEFT JOIN eqi_seguradoras.fundos_zurich fz ON p.codFundo = fz.fundoId
        AND p.codProduto = fz.codigoProduto
    LEFT JOIN eqi_seguradoras.assessores a ON cpf.hash = a.hash
    LEFT JOIN eqi_seguradoras.equipes eq ON a.equipeId = eq.equipeId
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON p.cdProposta = pp.codProposta
    WHERE
        p.seguradora = 'ZURICH') AS X
        LEFT JOIN
    (SELECT DISTINCT
        MIN(m.dataReferencia) AS first_payment_proposal_date,
            m.valorMovimentacao AS PrimeiroSaldo,
            pp.codProposta AS proposal_code,
            MONTH(MIN(m.dataReferencia)) AS MesEntrada
    FROM
        bd_eqi_pagamentos_prev_zurich.movimentacoes m
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON m.propostaPagamentoId = pp.propostaPagamentoId
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.clientes c ON pp.clientePfId = c.clientePfId
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.assessores a ON c.assessorId = a.assessorId
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.equipes e ON a.equipeId = e.equipeId
    GROUP BY pp.codProposta) AS Y ON X.proposal_code = Y.proposal_code
""", con=db_connection)

In [11]:
transactions = pd.read_sql("""
SELECT
	A.*,
	B.first_payment_date
FROM
	(
	SELECT 
		mov.movimentacaoId movimentation_id,
		pp.clientePfId client_id,
		pp.assessorId owner_id,
		pp.codProposta proposal_code,
		pp.codProduto product_code,
		pp.codPlano plan_code,
		pp.pagamentosPendentes pending_payments,
		pp.valorUltimoSaldo last_balance,
		TRIM(mov.nomeHistorico) operation,
		mov.dataReferencia operation_date,
		mov.valorMovimentacao transaction_value,
		mov.status proposal_status
	FROM
		eqi_seguradoras.clientes_pf cpf
			LEFT JOIN
		eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
			LEFT JOIN
		eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
			LEFT JOIN
		bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON p.cdProposta = pp.codProposta
			LEFT JOIN
		bd_eqi_pagamentos_prev_zurich.movimentacoes mov ON pp.propostaPagamentoId = mov.propostaPagamentoId
	WHERE
		p.seguradora = 'ZURICH'
			AND movimentacaoId IS NOT NULL
	) A,
    (        
	SELECT 
		pp.clientePfId client_id,
		MIN(mov.dataReferencia) first_payment_date
	FROM
		eqi_seguradoras.clientes_pf cpf
			LEFT JOIN
		eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
			LEFT JOIN
		eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
			LEFT JOIN
		bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON p.cdProposta = pp.codProposta
			LEFT JOIN
		bd_eqi_pagamentos_prev_zurich.movimentacoes mov ON pp.propostaPagamentoId = mov.propostaPagamentoId
	WHERE
		p.seguradora = 'ZURICH'
			AND movimentacaoId IS NOT NULL
			AND mov.nomeHistorico IN ('Contribuição periódica', 'Aporte de valores', 'Portabilidade', 'Transferência reserva externa', 'Transferência reserva crédito')
	GROUP BY pp.clientePfId
    ) B
WHERE
    A.client_id = B.client_id
""", con=db_connection)

In [12]:
owners = pd.read_sql("""
SELECT 
	a.hash,
    a.assessorId owner_id,
    eq.equipeId team_id,
    emp.empresaId company_id,
    a.nomeAssessor name,
    a.telefoneAssessor phone,
    a.emailAssessor email,
    eq.nomeEquipe team_name,
    emp.nomeEmpresa company_name,
    a.permissao permission_code,
    CASE
        WHEN a.permissao = 0 THEN 'Assessor'
        WHEN a.permissao = 1 THEN 'Senior'
        WHEN a.permissao = 2 THEN 'Empresa'
        WHEN a.permissao = 3 THEN 'Backoffice'
        WHEN a.permissao = 4 THEN 'Admin'
    END permission
FROM
    bd_eqi_backoffice.assessores a
        INNER JOIN
    bd_eqi_backoffice.equipes eq ON eq.equipeId = a.equipeId
        INNER JOIN
    bd_eqi_backoffice.empresas emp ON emp.empresaId = eq.empresaId
""", con=db_connection)

In [13]:
churn = pd.read_sql("""
SELECT 
    x.CPF cpf,
    x.NomeCliente name,
    x.Email email,
    x.Celular phone,
    x.Responsavel owner_name,
    x.Equipe team_name,
    x.dataReferencia operation_date,
    x.valorMovimentacao transaction_value,
    x.hash,
    x.client_id
FROM
    (SELECT 
        SUM(m.valorMovimentacao) AS valorMovimentacao,
            m.dataReferencia AS dataReferencia,
            cpf.CPF AS CPF,
            cpf.nome AS NomeCliente,
            cpf.email AS Email,
            cpf.celular AS Celular,
            ass.nome AS Responsavel,
            eq.nomeEquipe AS Equipe,
            eq.equipeId,
            cpf.hash,
            cpf.cliente_pf_id client_id
    FROM
        eqi_seguradoras.clientes_pf cpf, 
        eqi_seguradoras.assessores ass, 
        bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp, 
        bd_eqi_pagamentos_prev_zurich.movimentacoes m, 
        eqi_seguradoras.equipes eq
    WHERE
        pp.valorUltimoSaldo = 0
            AND cpf.hash = ass.hash
            AND pp.clientePfId = cpf.cliente_pf_id
            AND m.propostaPagamentoId = pp.propostaPagamentoId
            AND ass.equipeId = eq.equipeId
            AND TRIM(m.nomeHistorico) IN ('Resgate Transferencia' , 'Resgate')
            AND TRIM(m.status) NOT IN ('Ativa')
            AND eq.empresaId >= 7
    GROUP BY CPF
	) AS x
        LEFT JOIN
    (SELECT DISTINCT
        cpf.CPF, SUM(pp.valorUltimoSaldo) AS SaldoAtual
    FROM
        eqi_seguradoras.clientes_pf cpf
    JOIN eqi_seguradoras.clientes_propostas cp ON cpf.cliente_pf_id = cp.clientes_pf_id
    JOIN eqi_seguradoras.propostas p ON cp.proposta_id = p.propostas_id
    LEFT JOIN eqi_seguradoras.assessores ass ON cpf.hash = ass.hash
    LEFT JOIN eqi_seguradoras.equipes eq ON ass.equipeId = eq.equipeId
    LEFT JOIN bd_eqi_pagamentos_prev_zurich.propostas_pagamentos pp ON p.cdProposta = pp.codProposta
    WHERE
        pp.valorUltimoSaldo > 0
            AND cp.status IN ('Implantado' , 'suspenso', 'suspensao_solic_part')
            AND eq.empresaId >= 7
    GROUP BY cpf.CPF
		) AS y 
    ON x.CPF = y.CPF
WHERE
    y.SaldoAtual IS NULL
""", con=db_connection)

In [14]:
voucheria = pd.read_sql("""
SELECT 
    v.voucherID voucher_id,
    v.voucherValue voucher_value,
    cpf.cpf cpf,
    MIN(p.cdProposta) proposal_code,
    cpf.created created
FROM
    db_voucher.voucher_user vu
        INNER JOIN
    db_voucher.voucher v ON vu.voucher_id = v.id
        INNER JOIN
    eqi_seguradoras.clientes_pf cpf ON vu.cpf = cpf.cpf
        INNER JOIN
    eqi_seguradoras.clientes_propostas cp ON cp.clientes_pf_id = cpf.cliente_pf_id
        INNER JOIN
    eqi_seguradoras.propostas p ON p.propostas_id = cp.proposta_id
WHERE
    cpf.email NOT LIKE '%%teste%%'
GROUP BY cpf.cpf
""", con=db_connection)

# Subir para a base de BI

In [19]:
### Upload to DB - Clientes
print('creating engine')
engine = create_engine(con)
print('uploading data')
clients.to_sql('clients', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'client_id': sqlalchemy.types.NVARCHAR(length=16),
                      'cpf': sqlalchemy.types.NVARCHAR(length=11),
                      'name': sqlalchemy.types.NVARCHAR(length=200),
                      'email': sqlalchemy.types.NVARCHAR(length=200),
                      'phone': sqlalchemy.types.NVARCHAR(length=20),
                      'gender': sqlalchemy.types.NVARCHAR(length=1),
                      'birthday': sqlalchemy.types.NVARCHAR(length=10),
                      'city': sqlalchemy.types.NVARCHAR(length=200),
                      'state': sqlalchemy.types.NVARCHAR(length=2),
                      'job': sqlalchemy.types.NVARCHAR(length=200),
                      'public_server': sqlalchemy.types.NVARCHAR(length=3),
                      'marital_status': sqlalchemy.types.NVARCHAR(length=200),
                      'salary': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'last_balance': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'hash': sqlalchemy.types.NVARCHAR(length=36),
                      'created':sqlalchemy.DateTime()
                    })

creating engine
uploading data

14521

In [20]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
charges.to_sql('charges', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'charge_id': sqlalchemy.types.NVARCHAR(length=36),
                      'proposal_code': sqlalchemy.types.BigInteger(),
                      'paid': sqlalchemy.types.INTEGER(),
                      'month': sqlalchemy.types.INTEGER(),
                      'year': sqlalchemy.types.INTEGER(),
                      'value': sqlalchemy.types.DECIMAL(precision=11, asdecimal=True),
                      'due_date': sqlalchemy.DateTime(),
                      'payment_date': sqlalchemy.DateTime(),
                      'charge_type': sqlalchemy.types.NVARCHAR(length=200),
                      'first_payment_date': sqlalchemy.DateTime()
                    })

creating engine
uploading data

181908

In [21]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
proposals.to_sql('proposals', con = engine, if_exists = 'replace', index = False, chunksize = 1000, 
                    dtype={
                      'proposal_id': sqlalchemy.types.BigInteger(),
                      'client_id': sqlalchemy.types.BigInteger(),
                      'proposal_code': sqlalchemy.types.BigInteger(),
                      'status': sqlalchemy.types.NVARCHAR(length=200),
                      'signature_date': sqlalchemy.DateTime(),
                      'payment_type': sqlalchemy.types.NVARCHAR(length=200),
                      'product_code': sqlalchemy.types.INTEGER(),
                      'plan_code': sqlalchemy.types.INTEGER(),
                      'investment_fund_name': sqlalchemy.types.NVARCHAR(length=200),
                      'plan_type': sqlalchemy.types.NVARCHAR(length=200),
                      'tax_regime': sqlalchemy.types.NVARCHAR(length=200),
                      'monthly_contribuition': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'initial_payment': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'proposal_created_date': sqlalchemy.DateTime(),
                      'first_payment_proposal_date': sqlalchemy.DateTime(),
                      'cpf': sqlalchemy.types.NVARCHAR(length=11),
                      'proposal_due_date': sqlalchemy.types.INTEGER(),
                      'owner_id': sqlalchemy.types.INTEGER(),
                      'team_id': sqlalchemy.types.INTEGER(),
                    })

creating engine
uploading data

36912

In [22]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
transactions.to_sql('transactions', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'movimentation_id': sqlalchemy.types.BigInteger(),
                      'client_id': sqlalchemy.types.BigInteger(),
                      'owner_id': sqlalchemy.types.BigInteger(),
                      'proposal_code': sqlalchemy.types.BigInteger(),
                      'product_code': sqlalchemy.types.INTEGER(),
                      'plan_code': sqlalchemy.types.INTEGER(),
                      'pending_payments': sqlalchemy.types.INTEGER(),
                      'last_balance': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'operation': sqlalchemy.types.NVARCHAR(length=45),
                      'operation_date': sqlalchemy.DateTime(),
                      'transaction_value': sqlalchemy.types.DECIMAL(precision=11, scale=2, asdecimal=True),
                      'proposal_status': sqlalchemy.types.NVARCHAR(length=45),
                      'first_payment_date': sqlalchemy.DateTime()
                    })

creating engine
uploading data

127870

In [23]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
owners.to_sql('owners', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'hash': sqlalchemy.types.NVARCHAR(length=36),
                      'owner_id': sqlalchemy.types.INTEGER(),
                      'team_id': sqlalchemy.types.INTEGER(),
                      'company_id': sqlalchemy.types.INTEGER(),
                      'name': sqlalchemy.types.NVARCHAR(length=200),
                      'phone': sqlalchemy.types.NVARCHAR(length=20),
                      'email': sqlalchemy.types.NVARCHAR(length=200),
                      'team_name': sqlalchemy.types.NVARCHAR(length=100),
                      'company_name': sqlalchemy.types.NVARCHAR(length=40),
                      'permission_code': sqlalchemy.types.INTEGER(),
                      'permission': sqlalchemy.types.NVARCHAR(length=40)
                    })

creating engine
uploading data

1945

In [24]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
churn.to_sql('churn', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'cpf': sqlalchemy.types.NVARCHAR(length=11),
                      'name': sqlalchemy.types.NVARCHAR(length=200),
                      'email': sqlalchemy.types.NVARCHAR(length=200),
                      'phone': sqlalchemy.types.NVARCHAR(length=20),
                      'owner_name': sqlalchemy.types.NVARCHAR(length=200),
                      'hash': sqlalchemy.types.NVARCHAR(length=36),
                      'team_name': sqlalchemy.types.NVARCHAR(length=100),
                      'operation_date': sqlalchemy.DateTime(),
                      'transaction_value': sqlalchemy.types.Float(precision=11, asdecimal=True),
                      'client_id': sqlalchemy.types.BigInteger(),
                    })

creating engine
uploading data

2743

In [25]:
print('creating engine')
engine = create_engine(con)
print('uploading data')
voucheria.to_sql('vouchers', con = engine, if_exists = 'replace',index = False, chunksize = 1000, 
                    dtype={
                      'voucher_id': sqlalchemy.types.NVARCHAR(length=200),
                      'cpf': sqlalchemy.types.NVARCHAR(length=11),
                      'proposal_code': sqlalchemy.types.BigInteger(),
                      'voucher_value': sqlalchemy.types.INTEGER(),
                      'created': sqlalchemy.DateTime()
                    })

creating engine
uploading data

2835